---
name: Tester
on:
  pull_request:
jobs:
  rspec:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Ruby 4.0
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "4.0" # Not needed with a `.ruby-version` or `.tool-versions`
          bundler-cache: true # runs 'bundle install' and caches installed gems automaticallyz
      - name: Test
        run: bundle exec rspec -f j -o tmp/rspec_results.json -f p
      - name: RSpec Report
        uses: SonicGarden/rspec-report-action@v6
        with:
          json-path: tmp/rspec_results.json
        if: always()
